table.row
    tbody
        tr 
            th.columns.first.last
                table
                    tr
                        th.
                            Follow us on Instagram at #[a(href='https://www.instagram.com/halduit/') @halduit] for more financial tips and tricks! Share this questionnaires among your friends and family and find out how they rank against you! Happy Saving!
        tr 
            th.columns.first.last
                table
                    tr
                        th - The HalDuit Team