table.row
    tbody
        tr 
            th.columns.first.last
                table.callout
                    tr
                        th.callout-inner.warning
                            p.text-center
                                <em>The calculated values are approximates based on your responses.</em>
