table.row
    tbody
        tr 
            th.columns.first.last
                table
                    tr
                        th.text-center.footer HalDuit Financial Profiler, (c) 2020 HalDuit
        tr 
            th.columns.first.last.last-element
                table
                    tr
                        th.text-center.footer You received this email because you participated in the HalDuit Financial Habit survey.