table.row
    tbody
        tr 
            th.columns.first.last.header
                table
                    tr
                        th
                            h3 Hi #{name}!
                        //th.expander
        tr 
            th.columns.first.last
                table
                    tr
                        th 
                            p Thank you for participating in our survey. Here is your financial summary.
                        //th.expander