table.row
    tbody
        tr 
            th.columns.first.last.header
                table
                    tr
                        th 
                            h5 
                                <strong>You are a #{profile.name}!</strong>
        tr 
            th.columns.first.last
                table
                    tr
                        th 
                            p #{profile.defined_by}
        tr 
            th.columns.first.last
                table
                    tr
                        th 
                            p <strong>What it means for your money:</strong> #{profile.means_for_money}